@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  overflow-x: hidden;
  @apply min-h-[100dvh];
}

.impact-text-title {
  background-image: linear-gradient(
    to right,
    rgb(23, 37, 84),
    rgb(3, 105, 161)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.impact-text-subtitle {
  background-image: linear-gradient(to bottom, rgb(3, 105, 161), rgb(2, 6, 23));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );

  @apply max-w-[300px] md:max-w-[500px] lg:max-w-[400px] xl:max-w-[600px];
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
  animation: scroll 20s linear infinite;
  width: max-content;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.75rem));
  }
}

.downscale {
  transform: scale(85%);
}

.upscale {
  transform: scale(100%);
}

.forceFlex {
  display: flex !important;
}

.gradientOverlay {
  background: conic-gradient(
      from 180deg at 50% 50%,
      #0aefff -69.37deg,
      #0f83ff 31.88deg,
      #b056e7 120deg,
      #ff9966 204.37deg,
      #0aefff 290.63deg,
      #0f83ff 391.87deg
    ),
    #a84ddf;
}

.benefitsTitle {
  @apply text-center font-poppins text-2xl tracking-tight  text-gray-50 drop-shadow md:text-3xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl;
}

.markup {
  @apply border border-red-500;
}

.textGradient {
  background-image: linear-gradient(58deg, #b94cdb, #fe815e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.luminous {
  background-image: radial-gradient(
    circle farthest-side at 50% 100%,
    rgba(91, 136, 204, 0.2),
    rgba(91, 136, 204, 0)
  );
}

.flowSlide {
  @apply h-full w-full rounded-xl border border-gray-200 bg-gray-100 shadow-xl;
}

.closedAccordion {
  @apply h-0 pb-0 opacity-0;
}

.opennedAccordion {
  @apply h-auto pb-8 opacity-100;
}

.centerDivAbsolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child {
  @apply cursor-pointer;
}

.me {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    rgb(229, 231, 235) 30%,
    white 80%,
    transparent
  );
}

.width80 {
  @apply w-[80%];
}

@keyframes toTop {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.animateToMiddle {
  animation: toTop 0.25s linear;
  animation-fill-mode: forwards;
  @apply origin-center;
}

.labelBudget {
  @apply w-[30%] rounded-lg border bg-gray-100  p-4 text-center font-poppins text-xs text-gray-500 md:text-base lg:text-xs xl:text-base 3xl:text-lg;
}

.categoriesScroll::-webkit-scrollbar {
  @apply size-[7px];
}

.categoriesScroll::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  @apply rounded-l-xl rounded-r-xl;
}

.categoriesScroll::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  @apply rounded-l-xl rounded-r-xl bg-gray-200;
}

.modal::-webkit-scrollbar {
  @apply w-[10px]  rounded-r-xl bg-gray-300;
}

.modal::-webkit-scrollbar-thumb {
  @apply rounded-r-xl bg-gray-700;
}

.loader {
  border-radius: 50%;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inputColor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @apply h-[70px] w-[70px] cursor-pointer border-none outline-none;
}

.inputColor::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.inputColor::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.blockquote {
  padding-left: 2rem;
  @apply my-3 border-l-[3px] border-gray-900/45;
}

.codeblock {
  @apply rounded-lg bg-gray-800 p-3 text-gray-50;
}

.code {
  background-color: rgba(#616161, 0.1);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}

.tipImg {
  height: auto;
  max-width: 100%;

  &.ProseMirror-selectednode {
    outline: 3px solid #68cef8;
  }
}
